/* Resetando estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 /* Estilo do corpo */
 body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #0b1f2d, #003355, #1d3e5f, #4a6f88);
    background-size: 200% 200%;
    animation: gradientCS 5s ease infinite;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
 }
 
 /* Animação de gradiente */
 @keyframes gradientCS {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
 }
 
 /* Cabeçalho */
 header {
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 25px 0;
    color: #FFD700;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
 }
 
 header h1 {
    font-size: 2.2rem;
    text-transform: uppercase;
 }
 
 /* Navegação */
 nav ul {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 15px 0;
    list-style: none;
    flex-wrap: wrap;
    gap: 15px;
 }
 
 nav ul li a {
    color: #bcab4d;
    text-decoration: none;
    padding: 12px 18px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
 }
 
 nav ul li a:hover {
    background-color: #1b2028;
    color: white;
 }
 
 /* Seções */
 section {
    padding: 25px;
    margin: 40px auto;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.7);
    max-width: 75%;
 }
 
 /* Títulos das seções */
 h2 {
    color: #FFD700;
    margin-bottom: 20px;
    font-size: 2rem;
 }
 
 /* Parágrafos */
 p {
    margin-bottom: 1.8em;
    text-align: justify;
 }
 
 /* Listas */
 ul {
    margin-left: 25px;
    list-style-type: disc;
 }
 
 /* Rodapé */
 footer {
    background-color: #222;
    color: #aaa;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9rem;
    width: 100%;
    margin-top: auto;
 }



/* Estilo do vídeo flutuante */
#video-container {
    display: none;
    position: absolute;
    z-index: 10000;
    max-width: 320px;
    width: 100%;
    margin-top: -10px;
    height: auto;
}

#video-container video {
    width: 100%;
    height: auto;
}

/* Estilo das Tooltips */
.tooltip {
    position: relative;
    cursor: pointer;
    text-decoration: underline;
    color: #2980b9; /* Azul mais suave */
    font-weight: 500;
}

.tooltip-img {
    display: none;
    position: absolute;
    z-index: 9999;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 220px;
    transition: opacity 0.3s ease-in-out;
}

.tooltip-img img {
    width: 100%;
    height: auto;
}

.tooltip-image:hover + .tooltip-img {
    display: block;
}

.tooltip-video {
    position: relative;
    cursor: pointer;
    text-decoration: underline;
    color: #000000; /* Cor laranja para vídeo */
    font-weight: 500;
}

.tooltip-video:hover + .tooltip-img {
    display: block;
}

.tooltip-video:hover {
    color: #555; /* Cor laranja escuro no hover */
}

footer .tooltip-video {
    color: #aaa;  /* Cor branca, igual às outras letras no rodapé */
    text-decoration: none;  /* Remove o sublinhado */
    font-weight: normal;  /* Garante que o peso da fonte seja o normal */
    cursor: default;  /* Remove o cursor de ponteiro */
}
